CWC-Backend/bin/Debug/net8.0/CWC-Backend.dll
CWC-Backend/bin/Debug/net8.0/CWC-Backend.dll
CWC-Backend/bin/Debug/net8.0/CWC-Backend.dll
CWC-Backend/obj/Debug/net8.0/CWC-Backend.AssemblyInfoInputs.cache
CWC-Backend/obj/Debug/net8.0/CWC-Backend.AssemblyInfoInputs.cache
CWC-Backend/obj/Debug/net8.0/CWC-Backend.pdb
CWC-Backend/obj/Debug/net8.0/ref/CWC-Backend.dll
CWC-Backend/obj/Debug/net8.0/refint/CWC-Backend.dll
