button {
  margin-top: 10px;
}
p {
  border-radius: 5px;
}
.correct-answer-button {
  animation: scaleAndGoldenCircle 1.5s ease-in-out forwards;
  position: relative;
  z-index: 1;
}
.incorrect-answer-button {
  animation: shakeAndFade 0.5s ease-in-out;
  background-color: #da7070;
}
.correct-answer {
  animation: scaleAndGoldenCircle 1.5s ease-in-out forwards;
  position: relative;
  z-index: 1;
}
textarea {
  width: 80%;
}

@keyframes scaleAndGoldenCircle {
  0% {
    transform: scale(1);
    background-color: rgba(255, 215, 0, 0);
    box-shadow: 0 0 0px rgba(255, 215, 0, 0);
  }
  50% {
    transform: scale(1.2);
    background-color: (255, 215, 0, 0.3);
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.5), 0 0 40px rgba(255, 215, 0, 0.5),
      0 0 60px rgba(255, 215, 0, 0.5);
  }
  100% {
    transform: scale(1.1);
    background-color: rgba(255, 215, 0, 0.8);
    box-shadow: 0 0 15px rgba(255, 215, 0, 1), 0 0 30px rgba(255, 215, 0, 0.75),
      0 0 45px rgba(255, 215, 0, 0.5);
  }
}
@keyframes shakeAndFade {
  0%,
  100% {
    transform: translateX(0);
    opacity: 1;
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    opacity: 0;
  }
}

.center-holder {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  box-shadow: 0 0 20px rgba(176, 176, 176, 0.385);
  background-color: rgb(255, 255, 255);
}

@media screen and (min-width: 740px) {
  .center-holder {
    width: 70%;
  }
  textarea {
    width: 60%;
  }
}
