.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #fff;
  color: black;
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  margin-bottom: 20px;
  border-width: 2px;
  border-style: solid;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 10px;
}

.navbar-links {
  list-style-type: none;
  display: flex;
}

.navbar-links a {
  color: rgb(35, 31, 31);
  text-decoration: none;
  font-size: 1rem;
  padding-right: 10px;
}

.navbar-links a:hover {
  text-decoration: underline;
}
